div.autocomplete {
    z-index: 10000;
    position: absolute;
    width: 250px;
    background-color: #fff;
    border: 1px solid #888;
    margin: 0;
    padding: 0;
}
div.autocomplete ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
div.autocomplete ul li:hover {
    background-color: #dcebf0;
}
div.autocomplete ul li {
    padding: .5em .7em;
    min-height: 32px;
    cursor: pointer;
    text-align: left;
    color: #2f2f2f;
    line-height: 1.3em;
}