<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	    <add id="VNS_Custom::grid" title="Custom Messages" module="VNS_Custom" sortOrder="20" resource="VNS_Custom::grid_index" action="vns_custom/grid/index"/>
	</menu>
</config>
