<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
        <credit>
            <options>
                <allow_using_credit_to_checkout>0</allow_using_credit_to_checkout>
                <max_credit_to_checkout>0</max_credit_to_checkout>
            </options>
        </credit>
        <affiliate>
            <general_settings>
                <enabled>1</enabled>
                <auto_approve>0</auto_approve>
                <default_group>1</default_group>
                <set_customerinvited>0</set_customerinvited>
                <referral_code>6</referral_code>
                <affiliate_share><![CDATA[/customer
                                        /affiliate
                                        /credit
                                        /checkout
                                        /wishlist
                                        /contacts
                                        /catalogsearch
                                        /seo_sitemap]]>
                </affiliate_share>
                <auto_signup_affiliate>0</auto_signup_affiliate>
                <overwrite_register>0</overwrite_register>
                <show_referral_code_register>1</show_referral_code_register>
                <signup_affiliate>2</signup_affiliate>
                <!--<show_credit_cart>0</show_credit_cart>-->
                <show_referral_code_cart>1</show_referral_code_cart>
            </general_settings>
            <general>
                <affiliate_position>1</affiliate_position>
                <affiliate_discount>1</affiliate_discount>
                <affiliate_discount_with_tax>0</affiliate_discount_with_tax>
                <affiliate_tax>0</affiliate_tax>
                <affiliate_commission>1</affiliate_commission>
                <status_add_commission>processing</status_add_commission>
                <status_subtract_commission>closed</status_subtract_commission>
                <enabled_reward>1</enabled_reward>
                <commission_holding_period>30</commission_holding_period>
                <referral_signup_commission>0</referral_signup_commission>
                <referral_visitor_commission>0</referral_visitor_commission>
                <referral_subscribe_commission>0</referral_subscribe_commission>
            </general>
            <money>
                <affiliate_fee_taken>1</affiliate_fee_taken>
                <affiliate_withdraw_min>30</affiliate_withdraw_min>
                <affiliate_withdraw_max>10000</affiliate_withdraw_max>
                <affiliate_withdrawn_period>1</affiliate_withdrawn_period>
                <affiliate_withdrawn_day>1</affiliate_withdrawn_day>
                <affiliate_withdrawn_month>28</affiliate_withdrawn_month>
                <!--<gateway>a:2:{s:18:"_1449829994899_899";a:4:{s:13:"gateway_value";s:12:"banktransfer";s:13:"gateway_title";s:21:"Bank Transfer Payment";s:11:"gateway_fee";s:1:"5";s:9:"mw_status";s:3:"Yes";}s:18:"_1449830052196_196";a:4:{s:13:"gateway_value";s:6:"paypal";s:13:"gateway_title";s:6:"Paypal";s:11:"gateway_fee";s:1:"3";s:9:"mw_status";s:3:"Yes";}}</gateway>-->
                <!--<gatewaystest>a:1:{s:18:"_1534434621417_417";a:4:{s:13:"gateway_value";s:2:"xx";s:13:"gateway_title";s:2:"xx";s:11:"gateway_fee";s:1:"1";s:9:"mw_status";s:3:"Yes";}}</gatewaystest>-->
            </money>
            <invitation>
                <affiliate_cookie>30</affiliate_cookie>
                <using_customer_email>0</using_customer_email>
                <email_sender>general</email_sender>
                <email_template>affiliate_invitation_email_template</email_template>
            </invitation>
            <likebox>
                <likebox_width>195</likebox_width>
                <likebox_title>You might also like</likebox_title>
                <likebox_product_qty>6</likebox_product_qty>
            </likebox>
            <paypal_credential>
                <paypal_status>0</paypal_status>
                <api_endpoint>0</api_endpoint>
                <paypal_min_balance>500</paypal_min_balance>
            </paypal_credential>
            <customer>
                <email_sender>general</email_sender>
                <email_template>affiliate_customer_email_template</email_template>
                <email_template_successful>affiliate_customer_email_template_successful</email_template_successful>
                <email_template_unsuccessful>affiliate_customer_email_template_unsuccessful</email_template_unsuccessful>
                <email_template_lock>affiliate_customer_email_template_lock</email_template_lock>
                <email_template_unlock>affiliate_customer_email_template_unlock</email_template_unlock>
                <email_template_withdrawn>affiliate_customer_email_template_withdrawn</email_template_withdrawn>
                <email_template_withdrawn_complete>affiliate_customer_email_template_withdrawn_complete</email_template_withdrawn_complete>
                <email_template_withdrawn_cancel>affiliate_customer_email_template_withdrawn_cancel</email_template_withdrawn_cancel>
                <email_template_credit_balance_changed>affiliate_customer_email_template_credit_balance_changed</email_template_credit_balance_changed>
                <email_template_add_program>affiliate_customer_email_template_add_program</email_template_add_program>
            </customer>
            <admin_customer>
                <email_sender>general</email_sender>
                <email_template>affiliate_admin_customer_email_template</email_template>
            </admin_customer>
        </affiliate>
	</default>
</config>
