:root {
  --rss-silver: #C7C8CA;
  --rss-gold: #D8BB72;
  --rss-bronze: #CE8E45;
}

/* Rev1: Rocket Science Sports primary brand color overrides. */
.actions-primary .action,
.primary .action,
.action.primary,
.checkout.methods .action,
.slider-pro-wrapper .link-slider,
.custom-item-2 .link-button,
.custom-item-3 .link-custom,
.parallax-container .link-parallax,
.rd-navbar-cart-toggle .counter,
.slider-pro-wrapper .sp-buttons .sp-button.sp-selected-button,
.slider-pro-wrapper .sp-buttons .sp-button::before,
.layout_1 .block-newsletter,
.layout_2 .block-newsletter,
.opc-progress-bar .opc-progress-bar-item._active::after,
.opc-progress-bar .opc-progress-bar-item._active span::after,
.support-page .boxes-block li div:hover,
.faq-page #faq-accordion .accordion-trigger::before,
.modal-popup .modal-footer button,
.scrollToTop:hover,
.items.methods .action.multicheckout span::after,
.item-options .action.multicheckout span::after,
.box-actions a.action.change-password,
.mm-label.new,
.custom-item-1 .link-button:hover,
.custom-item-5 .link-custom,
.custom-item-4.extra .link-custom,
.custom-item-6 .link-custom,
.buttons-container .subscribe,
.not-found-page .not-found-page_bottom dd a,
.block-newsletter.block .primary,
.custom-item-12 .link-custom,
.sm-content .sm-button,
.category-list .category-button,
.custom-item-14 .link-custom,
.custom-item-15 .link-custom,
.sidebar .block.block-bg_2-custom,
.custom-item-17 .link-custom,
.custom-item-19 .link-custom,
.custom-item-22,
.custom-item-8 .link-custom:hover,
.custom-item-26 .block-bg_2-custom,
.static-link-slider:hover,
.custom-item-27 .link-custom:hover,
.custom-item-27 .item-extra-2 .link-custom,
.custom-item-28 .link-custom:hover,
.custom-item-28 .item-extra-2 .link-custom,
.sidebar .price-slider .ui-slider-range,
.ui-slider-handle,
.filter-options-content .price-slider .slider-fields a.action,
.smart-labels .sale.label-text,
.listing-gallery .fotorama__arr .fotorama__arr__arr,
.page-product-bundle #bundle-slide,
.modal-popup.quick-view #bundle-slide,
.block.discount .apply,
.checkout-onepage-success #registration .action.primary {
  background-color: var(--rss-gold);
  border-color: var(--rss-gold);
}

@media (min-width: 768px) {
  .layout_4 .rd-navbar-toggle {
    background-color: var(--rss-gold);
    border-color: var(--rss-gold);
  }
}

.gallery-placeholder .fotorama__thumb-border,
.fotorama-item .fotorama__thumb-border,
.opc-progress-bar .opc-progress-bar-item._active::before,
.support-page .boxes-block li div,
#page-preloader .spinner:before,
#page-preloader .spinner:after,
.loading-mask .loader:before,
.loading-mask .loader:after,
.checkout-index-index .loading-mask .loader::before,
.checkout-index-index .loading-mask .loader::after,
table .table-bordered,
.big-circle-icon,
.custom-item-1 .link-button,
.layout_4 .rd-navbar-search .form-group,
.custom-item-7 .extra-position .link-custom,
.layout_3 .block-newsletter .primary.subscribe {
  border-color: var(--rss-gold);
}

mark,
em,
.field.choice input[type="checkbox"] + .label::before,
.field.choice input[type="radio"] + .label::before,
.rd-navbar-static .rd-navbar-collapse a,
.custom-item-1.extra .title-1,
.header-info i,
.price,
.products .product-item .reviews-actions .view,
.custom-item-3 .title-1,
.widget.blog-posts .post-data .create-date time,
.widget.blog-posts .post-items .post-data .post-comments a,
.widget.blog-posts .post-data .post-author span,
.footer .footer-col-content li a,
.rd-navbar-cart .block-content > .actions .secondary .primary,
.breadcrumbs .items .item strong,
.rd-navbar-static .rd-navbar-nav > li.active > a,
.modes .modes-mode.active,
.catalog-product-view .product-info-stock-sku .stock,
.catalog-product-view .reviews-actions a,
.catalog-product-view .data.items .title.active a,
.block.related .block-actions button.action.select,
.block-posts-list .post-items .post-data .post-author span,
.block-posts-list .post-items .post-data .create-date time,
.block-posts-list .post-items .post-data .post-comments a,
.post-page .post-data .post-author span,
.post-page .post-data .create-date time,
.post-page .post-data .post-comments a,
.customer-service .list-block h4::before,
.about-us-page ul a,
.shipping-delivery-page .shipping-delivery-page_shipping-icon::before,
.shipping-delivery-page .shipping-delivery-page_track-icon::before,
.shipping-delivery-page .shipping-delivery-page_order-icon::before,
.secure-payment-page h4::before,
.secure-payment-page .secure-payment_icons ul a,
.support-page .boxes-block li div span::before,
.guarantee-page h4::before,
.terms-conditions-page ul h4::before,
.faq-page #faq-accordion .accordion-content p::before,
.account-nav .item.current,
.items.methods .action.multicheckout,
.item-options .action.multicheckout,
.cart-container .main.actions .action span,
.filter-options-content .item a:hover,
.customer-account-index .account-nav .nav.items strong,
.page-title-wrapper .order-date,
.account-nav .item.current a,
.opc-sidebar .table-totals th,
.opc-sidebar .table-totals td,
.opc-estimated-wrapper .minicart-wrapper button,
.big-circle-icon:before,
.primary-color,
.filter-current--wrapper .filter-actions .action,
.custom-item-4 .link-custom,
.custom-item-5 .title-1,
.modal-popup.newsletter-popup .closeText:hover,
.grid-left-fixed .close:hover,
.sidebar .block .block-title.left-custom-title span,
.opc-wrapper .field-tooltip .field-tooltip-action::before,
.custom-item-9 .link-custom,
.custom-item-10 .link-custom,
.custom-item-11.extra-color .title-1,
.custom-item-13 span,
#sm-timer,
.custom-item-16 .link-custom,
.custom-item-25 .desc-1,
.custom-item-26 .left-custom-title span,
.rd-navbar-static .layout_5 .rd-navbar-nav > li > a,
.layout_5 .block-newsletter #newsletter,
.layout_5 .block-newsletter .control::before {
  color: var(--rss-gold);
}

a:hover,
.rd-navbar-static .rd-navbar-nav > li.parent li.focus > a,
.rd-navbar-static .rd-navbar-nav > li.parent li.opened > a,
.rd-navbar-static .rd-navbar-nav > li.parent a:hover,
.account-nav a:hover,
.header-switchers .actions .action.active,
.header-switchers .actions .action:hover,
.rd-navbar-search-toggle:hover,
.modes .modes-mode:hover,
.modes .modes-mode.active,
.catalog-product-view .product-social-links .action:hover,
.switcher .dropdown .mage-dropdown-dialog a:hover,
.pages .item .next:hover,
.pages .item .previous:hover,
.pages .item .next:hover span:before,
.pages .item .previous:hover span:before,
.widget.blog-posts .post-items .post-title h3 a:hover,
.rd-navbar-fixed .rd-navbar-nav li.opened > a,
.rd-navbar-fixed .rd-navbar-nav li a:hover,
.rd-navbar-fixed .rd-navbar-nav li.active > a,
.block-posts-list .post-items .post-title h3 a:hover,
a.action.delete:hover,
a.action.edit:hover,
a.action.change-password:hover,
.checkout-index-index .checkout-container .authentication-wrapper button.action-auth-toggle:hover,
.checkout-index-index .checkout-container .authentication-wrapper .secondary a:hover,
h1 a:hover,
.heading-1 a:hover,
h3 a:hover,
.heading-3 a:hover,
.collapsible-block .opener a:hover,
h4 a:hover,
.heading-4 a:hover,
.filter-current .filter-current-subtitle a:hover,
.opc-block-shipping-information .shipping-information-title a:hover,
.review-list .review-title a:hover,
.review-add .review-legend a:hover,
h5 a:hover,
.heading-5 a:hover,
h6 a:hover,
.heading-6 a:hover,
.select2-results__option[aria-selected]:hover,
.minicart-items .details-qty .update-cart-item:hover,
.close.subscribe:hover,
.header-info a:hover,
.block.featured[role="tablist"] .page-title:hover,
.block.featured[role="tablist"] .page-title.active {
  color: var(--rss-gold);
}

@media (min-width: 768px) {
  .layout_2 .footer .footer-col:not(.footer-info) a:hover {
    color: var(--rss-gold);
  }
}

.page-main .actions-primary .action,
.page-main .primary .action,
.page-main .action.primary,
.custom-item-27 .item-extra-2 .link-custom {
  background-color: var(--rss-gold);
  border-color: var(--rss-gold);
}
