<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="200">
            <label>Magenest</label>
        </tab>
        <section id="magenest_xero_config" translate="label" type="button" sortOrder="90" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Xero</label>
            <tab>magenest</tab>
            <resource>Magenest_Xero::config_xero</resource>
            <group id="xero_informations" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Xero Account Informations</label>
                <fieldset_css>xero-connection-app</fieldset_css>
                <include path="Magenest_Xero::xero/oauth20.xml"/>
                <include path="Magenest_Xero::xero/settings_account.xml"/>
            </group>
            <group id="synchronization" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Synchronization Settings</label>
                <include path="Magenest_Xero::xero/synchronization.xml"/>
            </group>
            <group id="contact_list" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Xero Contact List</label>
                <field id="get_button" translate="button_label" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Magenest\Xero\Block\System\Config\Form\Button</frontend_model>
                    <button_label>Get Xero Contact List</button_label>
                    <attribute type="button_url">xero/contact/getXeroContactList</attribute>
                    <comment>
                        <![CDATA[ <strong style="color:dodgerblue">Notice:</strong> All contacts will be saved in var/xerocontact/contact.txt ]]>
                    </comment>
                </field>
            </group>
            <group id="magenest_xero_version" translate="label" type="text" sortOrder="100" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Xero Integration Version</label>
                <frontend_model>Magenest\Xero\Block\System\Config\Version\Info</frontend_model>
            </group>
        </section>
    </system>
</config>
